@import "tailwindcss";

:root {
  --background: #f9fafb; /* gris muy claro */
  --foreground: #1f2937; /* gris oscuro */
  --color-todo: #3b82f6;
  --color-inprogress: #facc15;
  --color-done: #ec4899;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans), Inter, sans-serif;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
